/*
        ,...                                   ,,
      .d' ""                 mm              `7MM                          mm
      dM`                    MM                MM                          MM
     mMMmm,pW"Wq.`7MMpMMMb.mmMMmm     ,pP"Ybd  MMpMMMb.  .gP"Ya   .gP"Ya mmMMmm
      MM 6W'   `Wb MM    MM  MM       8I   `"  MM    MM ,M'   Yb ,M'   Yb  MM
      MM 8M     M8 MM    MM  MM       `YMMMa.  MM    MM 8M"""""" 8M""""""  MM
      MM YA.   ,A9 MM    MM  MM       L.   I8  MM    MM YM.    , YM.    ,  MM
    .JMML.`Ybmd9'.JMML  JMML.`Mbmo    M9mmmP'.JMML  JMML.`Mbmmd'  `Mbmmd'  `Mbmo

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    font-size: 20px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
*/

/*
    `7MMM.     ,MMF'      db      `7MMF'`7MN.   `7MF'
      MMMb    dPMM       ;MM:       MM    MMN.    M
      M YM   ,M MM      ,V^MM.      MM    M YMb   M
      M  Mb  M' MM     ,M  `MM      MM    M  `MN. M
      M  YM.P'  MM     AbmmmqMA     MM    M   `MM.M
      M  `YM'   MM    A'     VML    MM    M     YMM
    .JML. `'  .JMML..AMA.   .AMMA..JMML..JML.    YM
*/

.hidden-block {
    display: none;
}

/*
             ,,                                                 ,,
             db                                                 db   mm
                                                                     MM
     ,6"Yb.`7MM  ,6"Yb.  `7M'   `MF'`7M'    ,A    `MF',6"Yb.  `7MM mmMMmm .gP"Ya `7Mb,od8
    8)   MM  MM 8)   MM    `VA ,V'    VA   ,VAA   ,V 8)   MM    MM   MM  ,M'   Yb  MM' "'
     ,pm9MM  MM  ,pm9MM      XMX       VA ,V  VA ,V   ,pm9MM    MM   MM  8M""""""  MM
    8M   MM  MM 8M   MM    ,V' VA.      VVV    VVV   8M   MM    MM   MM  YM.    ,  MM
    `Moo9^Yo.MM `Moo9^Yo..AM.   .MA.     W      W    `Moo9^Yo..JMML. `Mbmo`Mbmmd'.JMML.
          QO MP
          `bmP
*/

.ajaxwaiter-overlay {
    position: fixed;
    z-index: 5000;
    display: none;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.40;
    filter: alpha(opacity=40);
}

.ajaxwaiter-preloader {
    position: fixed;
    z-index: 5100;
    display: none;
    background: #fff;
    top: 50%;
    left: 50%;
    width: 104px;
    height: 64px;
    margin-top: -32px;
    margin-left: -52px;
    text-align: center;
    border-radius: 20px;
}